/* Universal Selector */
*{
    color: red;
}

/* Tag or Element Selector */
h1{
    text-align: center;
    color: green;
}

/* Attribute Selector */
a[title="google"]{
    letter-spacing: 20px;
}

/* ID Selector */
#idselector{
    text-indent: 40px;
}

/* Class Selector */
.classselector{
    color: brown;
    letter-spacing: 10px;
    word-spacing: 20px;
    line-height: 40px;
}

/* Descendent Selector */
div p{
    background-color: yellow;
}

/* Child Selector */
div>p{
    color: black;
}

span>p{
    color: blue;
}

/* Hover Selector */
h1 a:hover {
    color: white;
    font-size: 50px;
    background-color: blueviolet;
}

h2 a:hover {
    color: blue;
}

h2 a:link {
    color: green;
}

h2 a:visited {
    color: brown;
}

h2 a:active {
    color:yellow;
}