/* Universal Selector */
*{
    /* color: red; */
}

/* Tag or Element Selector */
h1{
    text-align: center;
    color: green;
}

/* Attribute Selector */
a[title="google"]{
    letter-spacing: 20px;
}

/* ID Selector */
#idselector{
    text-indent: 40px;
}

/* Class Selector */
.classselector{
    color: brown;
    letter-spacing: 10px;
    word-spacing: 20px;
    line-height: 40px;
}

/* Descendent Selector */
div p{
    background-color: yellow;
}

/* Child Selector */
div>p{
    color: black;
}

span>p{
    color: blue;
}

/* Hover Selector */
h1 a:hover {
    color: white;
    font-size: 50px;
    background-color: blueviolet;
}

h2 a:hover {
    color: blue;
}

h2 a:link {
    color: green;
}

h2 a:visited {
    color: brown;
}

h2 a:active {
    color:yellow;
}

/* Target Selector */
:target {
    color: red;
    border: 5px solid black;
    line-height: 10px;
    letter-spacing: 10px;
}

/* Border */
.borderone{
    border: 5px solid red;
}

.bordertwo{
    border-top: 10px solid yellow;
    border-left: 10px solid yellow;
}

.borderthree{
    border-color: brown yellow;
    /* Border Style : Solid; */
    /* Top & Right & Bottom & Left */
    /* Border-Style : solid dotted; */
    /* Top bottom & Left Right */
    /* border-style : solid dotted double; */
    /* Top & Left Right & Bottom */
    border-style: solid dotted double dashed;
    /* Top & Right & Bottom & Left */
}

.borderwidth{
    border-style: solid;
    border-width: 3px 30px;
}

/* Margin */
.marginone{
    margin: 10px 30px 40px 100px;
    border: 1px solid green;
}

.margintwo{
    margin-top: 100px;
}

/* Padding */
.padding{
    /* padding: 100px; */
    padding-top: 50px;
    border: 1px solid red;
}