*{
    margin: 0px;
    padding: 0px;
}

.nav_logo{
    width: 100px;
    height: 100px;
    margin-left: 50px;
    margin-top: 10px;
}

.nav_item{
    float: right;
}

.nav_item li{
    display: inline-block;
    margin-top: 45px;
    margin-right: 50px;
}

.nav_item li a{
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.nav{
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

.nav_item a:hover{
    color: red;
}

.cart_nav_item{
    margin-right: 100px;
}

.cart_noti{
    position: relative;
    top: -15px;
    right: 110px;
    background-color: red;
    padding: 5px;
    border-radius: 50%;
    color: white;
}

/* End Nav */

/* Start Banner */
.carousel_img{
    width: 100%;
}

.carousel_text{
    position: absolute;
    top: 300px;
    left: 200px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 40px;
    margin-right: 1200px;
}

.carousel_text h2{
    margin-bottom: 20px;
}

.carousel_text button{
    color: white;
    background-color: red;
    margin-top: 20px;
    padding: 15px 25px;
    border: 1px solid red;
    border-radius: 5px;
}

.carousel_text button:hover{
    cursor: pointer;
}
/* End Banner */

/* Start Banner Info */
.banner_info{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 30px;
    grid-column-gap: 25px;
    padding: 20px;
    margin-left: 150px;
    margin-right: 150px;
}

.banner_item{
    background-color: white;
    color: black;
    padding: 10px 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

#truck_icon,#phone_icon,#shield_icon,#gift_icon{
    float: left;
    padding-right: 15px;
    padding-top: 4px;
}

.banner_item h3{
    padding-top: 10px;
    font-size: 15px;
    padding-bottom: 5px;
}

.banner_item p{
    font-size: 15px;
}
/* End Banner Info */

/* Start Discount Items */
.promo_title{
    margin-top: 40px;
    margin-left: 150px;
}

.underlined{
    width: 80px;
    border: 1px solid red;
    margin-left: 150px;
}

.promotion{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 25px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
}

.promo_items{
    border: 1px solid gray;
    border-radius: 5px;
    position: relative;
    padding-bottom: 10px;
}

.promo_items img{
    width: 100%;
}

.promo_items p{
    text-align: center;
}

.promo_prices{
    position: absolute;
    top: 2%;
    right: 2%;
    color: red;
}

.promo_price{
    text-decoration: line-through;
    display: block;
}
/* End Discount Items */

/* Start New Arrival Items */
.new_arrive_title{
    margin-top: 40px;
    margin-left: 150px;
}

.new_arrival{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 150px;
    margin-right: 150px;
    grid-gap: 25px;
    margin-top: 30px;
}

.new_arrival_items img{
    width: 100%;
}

.new_arrival_text{
    display: inline-block;
}

.new_arrival_items{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    position: relative;
}

.new_arrival_icon{
    float: right;
}

.new_arrival_hover_icon{
    position: absolute;
    top: 40%;
    left: 40%;
    opacity: 0;
}

.new_arrival_hover_icon a{
    border: 1px solid red;
    padding: 10px;
    background-color: gray;
    border-radius: 5px;
    color: red;
}

.new_arrival_hover_icon a:hover{
    color: white;
    background-color: red;
}

.new_arrival_items:hover .new_arrival_hover_icon{
    opacity: 1;
}

.new_arrival_items img:hover{
    opacity: 0.6;
}